#profile-pic{
	text-align: center;
	font-family: 'Tahoma', sans-serif;
}
#box-img{
	/*border-radius: 50%;*/
	width: 200px;
	height: 200px;
}
#but{
	width: 200px;
	height: 80px;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	margin-top: -60px;
	text-align: center;
}

#changeBut{
	display: block;
	overflow: hidden;
	opacity: 0;
}
#but a:hover { 
    background-color: #171718;
    height: 60px;
    opacity: 1;
}
#name{
	color: purple;
	margin-top: 20px;
}
input{
	margin-left: 50px;
	color: black;
}
#form-main{
	margin-left: 20px;
	width: 60%;
}
button#phone_number{
	background-color: #0066ff;
	color: white;
}

.mySelect{
	border: 1px solid black;
 	-webkit-appearance: menulist;
 	color: black;
 	width: 100px;
 	height: 30px;
 	border-radius: 5%;
 	margin-left: 50px;
 	min-width: 100px;
}