{{#section 'a_title'}}
    iBags - Admin/Quản lý loại sản phẩm
{{/section}}


{{#section 'a_css'}}
    <link href="/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/styles/main_styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/admin/dist/css/style.css" rel="stylesheet">

{{/section}}



{{#section 'a_js'}}
        <script src="/Xu_ly/script_loaisanpham.js"></script>
{{/section}}






                <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12" id="title">
                    <h1 class="page-header">Quản lý loại sản phẩm</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="table"></div>
                            <!-- /.tạo bảng -->
                            <script language="JavaScript">
                                createTable();
                            </script>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <ul id="task">
                        <li><button type="button" id="new" class="btn btn-info" onclick="javascript: addRow();">Thêm mới</button></li>
                        <li><button type="button" id="update" class="btn btn-info">Cập nhật</button></li>
                    </ul>
                </div>
            </div>
            
        </div><!-- /.page-wrapper -->


{{#section 'a_js'}}
     <script src="/admin/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/admin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/admin/dist/js/sb-admin-2.js"></script>
    <script src="/Xu_ly/jquery_loaisanpham.js"></script>
{{/section}}