{{#section 'a_title'}}
    Quản lí đơn hàng
{{/section}}
                div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12" id="title">
                    <h1 class="page-header">Danh sách đơn hàng</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div id="box"></div>
                            <script language="javascript">
                               createTable();
                            </script>
                        </div><!-- /.panel-body -->
                    </div><!-- /.panel panel-default -->
                </div><!-- /.col-lg-12 -->
                <div class="col-lg-12">
                    <ul id="task">
                        <li><button type="button" id="update" class="btn btn-info">Cập nhật</button></li>
                    </ul>
                </div>
            </div><!-- /.row -->
        </div><!-- /.page-wrapper -->