
{{#section 'a_title'}}
    iBags - Admin/Quản lý loại sản phẩm
{{/section}}


{{#section 'a_css'}}
   <link href="/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/styles/main_styles.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/admin/dist/css/style.css" rel="stylesheet">

{{/section}}


{{#section 'a_js'}}
       <script src="/Xu_ly/script_sanpham.js"></script>
{{/section}}



<div id="page-wrapper">
            
            <div class="row">
                <div class="col-lg-12" >
                    <h1 id="qlsp" >Quản lý sản phẩm</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" id="nutbutton">
                    <ul>
                        <li class="container-fluid">
                             <button type="button" class="btn btn-default nut" id="nuttsp">Thêm sản phẩm</button>
                        </li>
                        <li class="container-fluid loai">
                            <div class="dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="nutlsp">
                                    Loại sản phẩm <div class="caret"></div>
                                </button>
                                <ul class="dropdown-menu" id="lsp">
                                    <button class="btn btn-default" style="width: 160px" id="nuttdc">Túi đeo chéo</button>
                                    <button class="btn btn-default" style="width: 160px" id="nuttdl">Túi đeo lưng</button>
                                    <button class="btn btn-default" style="width: 160px" id="nuttx" >Túi xách</button>
                                    <button class="btn btn-default" style="width: 160px" id="nutbv">Bóp, ví</button>
                                    <button class="btn btn-default" style="width: 160px" id="nutbl">Balo</button>
                                    <button class="btn btn-default" style="width: 160px" id="nuttc">Tất cả</button>
                                </ul>
                            </div>
                        </li>
                        <li class="container-fluid nhasx">
                            <div class="dropdown">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="nutnsx">
                                    Nhà sản xuất <div class="caret"></div>
                                </button>
                                <ul class="dropdown-menu"  id="nsx">
                                    <button class="btn btn-default" style="width: 160px" id="nutgc">GUCCI</button>
                                    <button class="btn btn-default" style="width: 160px" id="nuttb">TOPBAG</button>
                                    <button class="btn btn-default" style="width: 160px" id="nutblb" >BELLABAG</button>
                                    <button class="btn btn-default" style="width: 160px" id="nutpd">PRADA</button>
                                    <button class="btn btn-default" style="width: 160px" id="nutgc">GIVECHY</button>
                                    <button class="btn btn-default" style="width: 160px" id="nutvc">VERCASE</button>
                                    <button class="btn btn-default" style="width: 160px" id="nuttc">Tất cả</button>
                                </ul>
                            </div>
                        </li>
                        <li class="container-fluid">
                             <button type="button" class="btn btn-default nut" id="nutdel" onclick="javascript: deleteRow();">Xóa sản phẩm</button>
                        </li>
                    </ul>
                </div>
                <!-- /.col-lg-12 -->
            </div> <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div id="t00">
                            </div><!-- /.tạo bảng -->
                            <div id="t02">
                            </div><!-- /.tạo bảng thêm mới -->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.page-wrapper -->


{{#section 'a_js'}}
     <script src="/admin/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/admin/vendor/metisMenu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/admin/dist/js/sb-admin-2.js"></script>
    <script src="/Xu_ly/jquery_sanpham.js"></script>
    
{{/section}}