{{#section 'a_js'}}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $("#btnSub").click(function(e){
            e.preventDefault();
            swal({
              title: "Bạn đã chắc chắn?",
              text: "Bạn có thực sự muốn thay đổi thông tin này?",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willUpdate) => {
              if (willUpdate) {
                  if($('#txtName').val().length!=0){
                    $('#eForm').submit();
                }else{
                    swal("Cảnh báo!", "Bạn chưa điền tên loại sản phẩm!", "warning");
                }
              }
            });
        });
    </script>
{{/section}}

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">Cập nhật thông tin</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Thông tin chi tiết
                        </div>
                        <div class="panel-body">
                        
                            <div class="row">
                                <div class="col-lg-9">
                                    {{#with category}}
                                    <form role="form" action="" method="post" id="eForm">
                                        <div class="form-group">
                                            <label>Mã loại</label>
                                            <input type="text" class="form-control" name="id" value='{{maloai}}' readonly>
                                        </div>
                                        <div class="form-group">
                                            <label>Tên loại</label>
                                            <input type="text" class="form-control" value='{{tenloai}}' placeholder="Tên thương hiệu" name="name" id="txtName">
                                        </div>
                                        <button type="submit" class="btn btn-success" id="btnSub"><span class="glyphicon glyphicon-save"></span>Cập nhật</button>
                                        <span><a class="btn btn-default" href="/admin/categories" role="button" data-toggle="modal">Cancel</a></span>
                                    </form>
                                    {{/with}}
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->