{{#section 'title'}}
    iBags - Túi sách giá tốt
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.0/slick.css">
    <link rel="stylesheet" type="text/css" href="/styles/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css"> 
    <link rel="stylesheet" type="text/css" href="../guestPages/css/style.css">
    <link rel="stylesheet" type="text/css" href="../UserPages/styleHistory.css">
    
{{/section}}

{{#section 'js'}}
    <script src="/plugins/slick-1.8.0/slick.js"></script>
    <script src="/js/custom.js"></script>
{{/section}}

<div class="container" style="margin-top: 50px; ">
		<div class="row">
			<div class="col-sm-12" id="Ngay">Ngày: 12/03/2018</div>
			<div class="col-sm-3" id="History">
				<img src="../../Hinh_anh/San_pham/6.jpg" alt="">
				<div id="Ten">Balo caps (Vacana)</div>
				<div id="Gia">500,000đ</div>
				<div style="margin-left: 10px; font-size: 16px">
					Hóa đơn: 
					<a href="/account/Hoa_don"> 051238</a>
				</div>
				<div id="TinhTrang">Đã giao</div>

			</div>
			<div class="col-sm-3" id="History">
				<img src="../../Hinh_anh/San_pham/1.jpg" alt="">
				<div id="Ten">Dây đeo (LV)</div>
				<div id="Gia">570,000đ</div>
				<div style="margin-left: 10px; font-size: 16px">
					Hóa đơn: 
					<a href="Hoa_don.html"> 093412</a>
				</div>
				<div id="TinhTrang">Đã giao</div>
			</div>
			<div class="col-sm-3" id="History">
				<img src="../../Hinh_anh/San_pham/TX_001.jpg" alt="">
				<div id="Ten">Túi xách (Blue)</div>
				<div id="Gia">810,000đ</div>
				<div style="margin-left: 10px; font-size: 16px">
					Hóa đơn: 
					<a href="Hoa_don.html"> 123032</a>
				</div>
				<div id="TinhTrang1">Đang giao</div>

			</div>
			

			<div class="col-sm-12" id="Ngay">Ngày: 01/09/2017</div>
			<div class="col-sm-3" id="History">
				<img src="../../Hinh_anh/San_pham/BL_004.jpg" alt="">
				<div id="Ten">Balo histomi (Vacana)</div>
				<div id="Gia">550,000đ</div>
				<div style="margin-left: 10px; font-size: 16px">
					Hóa đơn: 	
				</div>
				<div id="TinhTrang2">Đã hủy</div>
			</div>
			<div class="col-sm-3" id="History">
				<img src="../../Hinh_anh/San_pham/DC_005.jpg" alt="">
				<div id="Ten">Ví opot (izomi)</div>
				<div id="Gia">680,000đ</div>
				<div style="margin-left: 10px; font-size: 16px">
					Hóa đơn: 
					<a href="Hoa_don.html"> 901223</a>
				</div>
				<div id="TinhTrang">Đã giao</div>
			</div>
			<div class="col-sm-3" id="History">
				<img src="../../Hinh_anh/San_pham/DC_022.jpg" alt="">
				<div id="Ten">Túi đeo loretu (Hiko)</div>
				<div id="Gia">490,000đ</div>
				<div style="margin-left: 10px; font-size: 16px">
					Hóa đơn: 
					<a href="Hoa_don.html"> 455512</a>
				</div>
				<div id="TinhTrang">Đã giao</div>
			</div>
			<div class="col-sm-3" id="History">
				<img src="../../Hinh_anh/San_pham/DC_010.jpg" alt="">
				<div id="Ten">Balo jivi (Kroti)</div>
				<div id="Gia">350,000đ</div>
				<div style="margin-left: 10px; font-size: 16px">
					Hóa đơn: 
					<a href="Hoa_don.html"> 000412</a>
				</div>
				<div id="TinhTrang">Đã giao</div>
			</div>
			<div class="col-sm-3" id="History">
				<img src="../../Hinh_anh/San_pham/DC_016.jpg" alt="">
				<div id="Ten">Balo acic (Mami)</div>
				<div id="Gia">1,000,000đ</div>
				<div style="margin-left: 10px; font-size: 16px">
					Hóa đơn: 
					<a href="Hoa_don.html"> 051238</a>
				</div>
				<div id="TinhTrang">Đã giao</div>
			</div>
		</div>
	</div>
	<!-- Brands -->

	<div class="brands">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="brands_slider_container">
							
							<!-- Brands Slider -->
	
							<div class="owl-carousel owl-theme brands_slider">
								
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_001.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_002.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_003.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_004.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_005.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_006.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_007.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_008.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_009.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_010.png" alt=""></div></div>
							</div>
							
							<!-- Brands Slider Navigation -->
							<div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
							<div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>
	
						</div>
					</div>
				</div>
			</div>
	</div>

	<!-- Banner -->

	<div class="banner_2">
		<div class="banner_2_background" style="background-image:url(../../Hinh_anh/Giao_dien/banner_2_background.jpg)"></div>
		<div class="banner_2_container">
			<div class="banner_2_dots"></div>
			<!-- Banner 2 Slider -->

			<div class="owl-carousel owl-theme banner_2_slider" id="Hang_sap_ve">
				
			</div>
		</div>
	</div>

	<!-- Adverts -->

	<div class="adverts">
		<div class="container">
			<div class="row">

				<div class="col-lg-4 advert_col">
					
					<!-- Advert Item -->

					<div class="advert d-flex flex-row align-items-center justify-content-start">
						<div class="advert_content">
							<div class="advert_title"><a href="#">Quảng cáo</a></div>
							<div class="advert_text">Liên hệ để đặt</div>
						</div>
						<div class="ml-auto"><div class="advert_image"><img src="images/adv_1.png" alt=""></div></div>
					</div>
				</div>

				<div class="col-lg-4 advert_col">
					
					<!-- Advert Item -->

					<div class="advert d-flex flex-row align-items-center justify-content-start">
						<div class="advert_content">
							<div class="advert_title"><a href="#">Quảng cáo</a></div>
							<div class="advert_text">Liên hệ để đặt</div>
						</div>
						<div class="ml-auto"><div class="advert_image"><img src="images/adv_1.png" alt=""></div></div>
					</div>
				</div>

				<div class="col-lg-4 advert_col">
					
					<!-- Advert Item -->

					<div class="advert d-flex flex-row align-items-center justify-content-start">
						<div class="advert_content">
							<div class="advert_title"><a href="#">Quảng cáo</a></div>
							<div class="advert_text">Liên hệ để đặt</div>
						</div>
						<div class="ml-auto"><div class="advert_image"><img src="images/adv_1.png" alt=""></div></div>
					</div>
				</div>

			</div>
		</div>
	</div>