{{#section 'title'}}
    iBags - Túi sách giá tốt
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.0/slick.css">
    <link rel="stylesheet" type="text/css" href="/styles/shop_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/responsive.css"> 
    <link rel="stylesheet" type="text/css" href="/guestPages/css/style.css">
    <link rel="stylesheet" type="text/css" href="/UserPages/css/styleHoaDon.css">
    
{{/section}}

{{#section 'js'}}
    <script src="/plugins/slick-1.8.0/slick.js"></script>
    <script src="/js/custom.js"></script>
{{/section}}

<div class="container" style="margin-top: 50px; ">
		<div class="row">
			<div class="col-lg-3" style="background-color: #fdfdfd">
				<div id="MHD">Mã hóa đơn: 
					<a href="">012019</a>
				</div>
				<div>Khách hàng:
					<a href="Profile.html">Trần Thành Trung</a> 
				</div>
				<div id="date">Ngày mua: 15/08/2018</div>
				<ul id="sp">
					<li style="margin-left: 5px; width: 129px;">Túi DC_013</li>
					<li style="width: 45px">1</li>
					<li>500,000đ</li>
				</ul>
				<ul id="sp">
					<li style="margin-left: 5px; width: 129px;">Ví Cito</li>
					<li style="width: 45px">1</li>
					<li>800,000đ</li>
				</ul>
				<ul id="sp">
					<li style="margin-left: 5px; width: 129px;">Túi DC_017</li>
					<li style="width: 45px">2</li>
					<li>850,000đ</li>
				</ul>
				<ul id="sp">
					<li style="margin-left: 5px; width: 129px;">Túi DC_018</li>
					<li style="width: 45px">1</li>
					<li>680,000đ</li>
				</ul>
				<div id="Money">Tổng tiền: 2,830,000đ</div>
				
			</div>
			<div class="col-lg-9" style="background-color: #f9f9f9;" id="GioHang">
				<div class="Hang">
	                <div class="row">
	                    <div class="col-lg-3"> <img src="../../Hinh_anh/San_pham/DC_013.jpg" alt=""></div>
	                    <div class="col-lg-4" style="margin-top: 23px">
	                        <div>Túi DC_013</div>
	                        <div>Vascara</div>
	                        <div>Da tổng hợp</div>
	                    </div>
	                    <div class="col-lg-2" style="margin-top: 40px; color: #ff7f27">
	                        500,000đ
	                    </div>
	                    <div class="col-lg-2" style="margin-top: 40px">
	                        Số lượng:1   
	                    </div>
	                    
	                </div>
                </div>
                <div class="Hang">
	                <div class="row">
	                    <div class="col-lg-3"> <img src="../../Hinh_anh/San_pham/V_001.jpg" alt=""></div>
	                    <div class="col-lg-4" style="margin-top: 23px">
	                        <div>Ví Cito</div>
	                        <div>LV</div>
	                        <div>Da tổng hợp</div>
	                    </div>
	                    <div class="col-lg-2" style="margin-top: 40px; color: #ff7f27">
	                        800,000đ
	                    </div>
	                    <div class="col-lg-2" style="margin-top: 40px">
	                        Số lượng:1   
	                    </div>
	                    
	                </div>
                </div>
                <div class="Hang">
	                <div class="row">
	                    <div class="col-lg-3"> <img src="../../Hinh_anh/San_pham/DC_017.jpg" alt=""></div>
	                    <div class="col-lg-4" style="margin-top: 23px">
	                        <div>Túi DC_017</div>
	                        <div>Converst</div>
	                        <div>Cotton</div>
	                    </div>
	                    <div class="col-lg-2" style="margin-top: 40px; color: #ff7f27">
	                        850,000đ
	                    </div>
	                    <div class="col-lg-2" style="margin-top: 40px">
	                        Số lượng:2  
	                    </div>
	                    
	                </div>
                </div>
                <div class="Hang">
	                <div class="row">
	                    <div class="col-lg-3"> <img src="../../Hinh_anh/San_pham/DC_018.jpg" alt=""></div>
	                    <div class="col-lg-4" style="margin-top: 23px">
	                        <div>Túi DC_018</div>
	                        <div>Adidas</div>
	                        <div>Sợi tự nhiên</div>
	                    </div>
	                    <div class="col-lg-2" style="margin-top: 40px; color: #ff7f27">
	                        680,000đ
	                    </div>
	                    <div class="col-lg-2" style="margin-top: 40px">
	                        Số lượng:1   
	                    </div>
	                    
	                </div>
                </div>
			</div>
			
		</div>
	</div>
		<!-- Brands -->

		<div class="brands">
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="brands_slider_container">
							
							<!-- Brands Slider -->
	
							<div class="owl-carousel owl-theme brands_slider">
								
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_001.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_002.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_003.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_004.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_005.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_006.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_007.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_008.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_009.png" alt=""></div></div>
								<div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img class="brand" src="../../Hinh_anh/Thuong_hieu/Brand_010.png" alt=""></div></div>
							</div>
							
							<!-- Brands Slider Navigation -->
							<div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
							<div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>
	
						</div>
					</div>
				</div>
			</div>
		</div>

	<!-- Banner -->

	<div class="banner_2">
		<div class="banner_2_background" style="background-image:url(../../Hinh_anh/Giao_dien/banner_2_background.jpg)"></div>
		<div class="banner_2_container">
			<div class="banner_2_dots"></div>
			<!-- Banner 2 Slider -->

			<div class="owl-carousel owl-theme banner_2_slider" id="Hang_sap_ve">
				
			</div>
		</div>
	</div>

	<!-- Adverts -->

	<div class="adverts">
		<div class="container">
			<div class="row">

				<div class="col-lg-4 advert_col">
					
					<!-- Advert Item -->

					<div class="advert d-flex flex-row align-items-center justify-content-start">
						<div class="advert_content">
							<div class="advert_title"><a href="#">Quảng cáo</a></div>
							<div class="advert_text">Liên hệ để đặt</div>
						</div>
						<div class="ml-auto"><div class="advert_image"><img src="images/adv_1.png" alt=""></div></div>
					</div>
				</div>

				<div class="col-lg-4 advert_col">
					
					<!-- Advert Item -->

					<div class="advert d-flex flex-row align-items-center justify-content-start">
						<div class="advert_content">
							<div class="advert_title"><a href="#">Quảng cáo</a></div>
							<div class="advert_text">Liên hệ để đặt</div>
						</div>
						<div class="ml-auto"><div class="advert_image"><img src="images/adv_1.png" alt=""></div></div>
					</div>
				</div>

				<div class="col-lg-4 advert_col">
					
					<!-- Advert Item -->

					<div class="advert d-flex flex-row align-items-center justify-content-start">
						<div class="advert_content">
							<div class="advert_title"><a href="#">Quảng cáo</a></div>
							<div class="advert_text">Liên hệ để đặt</div>
						</div>
						<div class="ml-auto"><div class="advert_image"><img src="images/adv_1.png" alt=""></div></div>
					</div>
				</div>

			</div>
		</div>
	</div>