    {{#section 'title'}}
        Đăng nhập
    {{/section}}
    {{#section 'css'}}
    <link href="/bootstrap-4.1.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="/guestPages/css/style.css">
    {{/section}}
    <div class="container">
            <div class="row">
                <div class="col-sm-12" style="text-align: center; color: blue; font-size: 40px;">ĐĂNG NHẬP</div>
            </div>
            <br>
<form class="form-horizontal" method="post" action="" id="frmLogin">
    <div class="form-group row">
    <div class="col-sm-3"></div>
        <label for="txtUsername" class="control-label col-sm-2">Tên đăng nhập</label>
        <div class="col-sm-4">
            <input type="text" class="form-control" id="txtUsername" placeholder="Tên đăng nhập" name="username">
        </div>
        </div>
        <div class="form-group row">
        <div class="col-sm-3"></div>
            <label for="txtPWD" class="control-label col-sm-2">Mật khẩu</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="txtPWD" placeholder="Mật khẩu" name="password">
            </div>
        </div>
        <br>
        {{#if passWrong}}
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 col-sm-offset-2">
                <div class="alert alert-danger">
                  <strong>Mật khẩu không đúng!</strong> Vui lòng thử lại.
                </div>
            </div>
        </div>
        {{/if}}
        {{#if notExist}}
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 col-sm-offset-2">
                <div class="alert alert-danger">
                  <strong>Tài khoản không tồn tại!</strong> Vui lòng thử lại.
                </div>
            </div>
        </div>
        {{/if}}
        <div class="form-group row">
            <div class="col-sm-3"></div>
            <div class="col-sm-9 col-sm-offset-2">
                <button type="submit" class="btn btn-success">
                    Đăng nhập
                </button>
            </div>
        </div>
    </div>
</form>
</div>