<!DOCTYPE html>
<html lang="en">

<head>
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/admin/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/admin/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="/admin/vendor/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/admin/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    {{{_sections.a_css}}}
    

</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">iBags</a>
            </div>
            <ul class="nav navbar-top-links navbar-right">
                <form action="/admin/logout" method="post" id="lnkLogout"></form>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>{{layoutVM.curUser.tenthanhvien}}  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/account/profile"><i class="fa fa-user fa-fw"></i> Admin profile</a>
                        </li>
                        </li>
                        <li class="divider"></li>
                        <li id="logOut"><a href="javascript:;"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>

            <!-- navbar sider -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/admin/"><i class="glyphicon glyphicon-home"></i> DASHBOARD</a>
                           
                                <li>
                                    <a href="/admin/products"><i class="glyphicon glyphicon-lock"></i>Quản lý sản phẩm</a>
                                </li>
                                <li>
                                    <a href="/admin/orders"><i class="glyphicon glyphicon-shopping-cart"></i>Quản lý đơn hàng</a>
                                </li>
                                <li>
                                    <a href="/admin/categories"><i class="fa fa-tasks"></i>Quản lý loại sản phẩm</a>
                                </li>
                                <li>
                                    <a href="/admin/suppliers"><i class="fa fa-odnoklassniki fa-2x"></i>Quản lý nhà phân phối</a>
                                </li>
                           
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

               
                {{{body}}}
                    
            
        <!-- /#page-wrapper -->

    <!-- Footer -->
    <br><br><br>
    <footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 footer_col">
                    <div class="footer_column footer_contact">
                        <div class="logo_container">
                            <div class="logo" style="color: black"><h1><a href="/">iBags</a></h1></div>
                        </div>
                        <span class="footer_title">Hỗ trợ tư vấn</span>
                        <span class="footer_phone"> +84 028 888 8888</span>
                        <span class="footer_contact_text">
                            <p>227 Nguyễn Văn Cừ</p>
                            <p>Phường 4, Quận 5, TP.HCM</p></span>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- jQuery -->

    <script src="/admin/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/admin/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/admin/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/admin/vendor/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/admin/vendor/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/admin/dist/js/sb-admin-2.js"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $('#dataTables-example').DataTable({
        responsive: true
    });
    $('#logOut').click(function(){
            $('#lnkLogout').submit();
        });
    </script>
    {{{_sections.a_js}}}
</body>

</html>
