<html>
    <head>
        <meta charset="utf-8">
        <title>Đăng nhập</title>
        <link href="/bootstrap-4.1.0-dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="/guestPages/css/floating-labels.css" rel="stylesheet">
    </head>
    <body>
        <form class="form-signin">
            <div class="text-center mb-4">
                <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Đăng nhập</h1>
            </div>
      
            <div class="form-label-group">
                <input type="text" id="inputUsername" class="form-control" placeholder="Tên đăng nhập" required autofocus>
                <label for="inputUsername">Tên đăng nhập</label>
            </div>
      
            <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Mật khẩu" required>
                <label for="inputPassword">Mật khẩu</label>
            </div>
      
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Ghi nhớ đăng nhập
                </label>
            </div>
            <a href="../../Nguoi_dung/Man_hinh/index.html"><button class="btn btn-lg btn-primary btn-block" type="submit">Đăng nhập</button></a>

            <br/>
            <div class="form-group">
                <button type="button" class="btn btn-outline-primary btn-sm"><img width="18" height="18" src="/guestPages/images/facebook.svg">&nbsp; Tiếp tục với Facebook</button>
                <button type="button" class="btn btn-outline-danger btn-sm"><img width="18" height="18" src="/guestPages/images/google.svg">&nbsp; Tiếp tục với Google</button>
            </div>
        </form>

        <script src="/jquery-3.3.1.min.js"/>
        <script src="/bootstrap-4.1.0-dist/js/bootstrap.min.js"/>
    </body>
</html>