	

#r1{
	height: 40px;
	background-color: #f78f1a;
	margin-right: 0px;
}
	
#home:hover{
	text-decoration: none;
	color: white;
}
nav a{
	text-decoration: none;
	color: white;
	display: block;
}
	#a{
		width: 110px;
		text-align: center;
	}
	nav #a:hover{
		border-bottom: solid 4px white;
		color: white;
		text-decoration: none;
		margin-bottom: -5px;
		background-color: #f37021;
		font-size: 17px;
	}
	#GioHang:hover{
		border-bottom: solid 4px white;
		background-color: white;
	}
	#GioHang a:hover{
		color: #f89b33;

	}
#left{
	background-color: #f2f2f2;
	padding-left: -15px;
}
	#left li{
		list-style: none;
	}
	#left a{
		margin-left: 10px; 
		text-decoration: none;
		color: black;
	}
	#left a:hover{
		font-weight: bold;
	}
#right{
	background-color: #f2f2f2;
	padding-left: 0px;
}
	#op{
		margin-top: 10px;	
		border-radius: 3px;
	}
	.option{
		text-align: center;
		text-decoration: none;
		color: black;	
		height: 40px;
		line-height: 40px;
		font-size: 17px;
	}
	.option:hover{
		background-color: #fafafa;
		text-decoration: none;
		color: #ff5722;
		border-bottom: solid 2px #ff5722;
	}
#main{
	margin-left: -45px;
	margin-right: -45px;
	height: 3285px;
}
#opption{
	border-radius: 5px;	
}
.menu{
	padding-bottom: 20px;
	border-bottom: solid 1px #dfdfdf;
	margin-top: 15px;
	margin-bottom: 20px;
}