#cart{
	background: #0e8ce4;
	color: white;
	font-size: 30px;
}
#form{
	height:  504px;
	background-color: white;
}
#nar_boder{
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	font-size: 20px;
	height: 60px;
	line-height: 60px;
}
#input{
	width: 400px;
}
.birdday{
	margin-left: 0px;
	display: inline-block;
	width: 110px;
	margin-right: 32px;
}
#button{
	background-color: #fdd835;
}
