#box{
	border-left: solid 1px #bebebe;
	border-right: solid 1px #bebebe; 
	border-top: solid 1px #bebebe; 
	border-bottom: solid 1px #bebebe; 
	width: 400px;
	height: 400px;
	margin-left: 40px;
	margin-bottom: 20px;
	background: white;
	border-radius: 5px;
}

#box img{
	margin-top: 15px;
	margin-left: 43px;
	height: 39px;
	width: 75px;
}