#History{
	background-color: #f0f0f0;
	margin-top: 10px;
	border-bottom: solid 2px white;
	height: 80px;
}
	#Ten{
		margin-top: 10px;
		font-size: 21px;
		margin-left: 10px;
		color: #636363;
	}
	#Gia{
		color: #ff0f1e;
		font-size: 16px;
		margin-left: 10px;
	}
	#TinhTrang{
		margin-bottom: 20px;
		margin-top: 15px;
		text-align: center;
		background: #28a745;
		margin-left: 45px;
		margin-right: 45px;
		color: white;
		border-radius: 3px;
		height: 35px;
		line-height: 35px;
	}
	#TinhTrang1{
		margin-bottom: 20px;
		margin-top: 15px;
		text-align: center;
		background: #ffc107;
		margin-left: 45px;
		margin-right: 45px;
		color: white;
		border-radius: 3px;
		height: 35px;
		line-height: 35px;
	}
	#TinhTrang2{
		margin-bottom: 20px;
		margin-top: 15px;
		text-align: center;
		background: #ff0000;
		margin-left: 45px;
		margin-right: 45px;
		color: white;
		border-radius: 3px;
		height: 35px;
		line-height: 35px;
	}
	#History:hover{
		background-color: #cccccc; 
	}
#Ngay{
	height: 30px;
	background-color: #0e8ce4;
	border-radius: 3px;
	line-height: 30px;
	font-size: 14px;
	color: white;
}