{{#section 'title'}} Error 
{{/section}}

{{#section 'css'}} 
	<link rel="stylesheet" type="text/css" href="/plugins/slick-1.8.0/slick.css">
	<link rel="stylesheet" type="text/css" href="/styles/main_styles.css">
	<link rel="stylesheet" type="text/css" href="/styles/responsive.css"> 
	<link rel="stylesheet" type="text/css" href="/guestPages/css/style.css">
{{/section}}

{{#section 'js'}}
	<script src="/plugins/slick-1.8.0/slick.js"></script>
	<script src="../js/shop_custom.js"></script>
{{/section}}

<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="alert alert-danger" style="margin-top:50px; margin-bottom:50px;" role="alert">
			<h4 class="alert-heading">ERROR 404</h4>
			<p>Không tìm thấy trang được yêu cầu.</p>
			<hr>
			<p class="mb-0">Kiểm tra lại đường dẫn hoặc thông báo với chúng tôi về sự cố này.</p>
		</div>
	</div>
	<div class="col-md-3"></div>
</div>